* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('https://i.ibb.co/qCZcmXH/gray-sand.png');
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
}

p {
  font-size: 1.2rem;
  font-weight: 200;
}

h1,
p {
  color: #fdfffc;
}

.main-content {
  display: grid;
  place-items: center;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  width: 350px;
  margin-bottom: 16px;
}
